{% extends "base.html" %}

{% block "titulo" %} Cadastro {% endblock %}

{% block "corpo" %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p class="text-left" ><a style="text-decoration:none"  href="{% url "pagina_inicial" %}" > « Voltar </a></p> 
        {% if novo_cadastro %}
        <h1 class="display-3 text-center" style="width:100%">CADASTRE-SE</h1>
        {% else %}
        <h1 class="display-3 text-center" style="width:100%">EDIÇÃO</h1>
        {% endif %}
        <p class="text-center">Aqui você deve cadastrar os dados da criança e do responsável.</p>
        
        <br />
        <br />

        <hr>
        <div class="row">
            <div class="col-md-12">
              <form method="post" action="" data-troggle="validator">
                {% csrf_token %}
                
                <div class="form-group">
                    <div class="mensagem-erro"> {{ crianca_form.nome.errors }} </div>
                    <label for="{{ crianca_form.nome.id_for_label }}" class="control-label">Nome da Criança:* </label>
                    {{ crianca_form.nome }}
                </div>

                <div class="form-group">
                    <div class="mensagem-erro"> {{ crianca_form.idade.errors }} </div>
                    <label for="{{ crianca_form.idade.id_for_label }}" class="control-label">Idade da Criança:* </label>
                    {{ crianca_form.idade }}
                </div>

                 <div class="form-group">
                    <div class="mensagem-erro"> {{ crianca_form.sexo.errors }} </div>
                    <label for="{{ crianca_form.sexo.id_for_label }}" class="control-label">Sexo da Criança:* </label>
                    {{ crianca_form.sexo }}
                </div>
                
                 <div class="form-group">
                    <div class="mensagem-erro"> {{ responsavel_form.email.errors }} </div>
                    <label for="{{ responsavel_form.email.id_for_label }}" class="control-label">Email do Responsável:* </label>
                    {{ responsavel_form.email }}
                </div>  
                
                <div class="form-group">
                   <div class="mensagem-erro"> {{ responsavel_form.celular.errors }} </div>
                    <label for="{{ responsavel_form.celular.id_for_label }}" class="control-label">Celular do Responsável:* </label>
                    {{ responsavel_form.celular }}
                </div>  

                <br>        

                <div class="row">
                    <div class="col-md-12">
                        <center><button type="submit" class="btn btn-primary botao" style="padding-right:40px;padding-left:40px;">Salvar</button></center>
                    </div>
                  </div>
              </form>
            </div>
        </div>
    </div>

{% endblock %}
