{% extends "base.html" %}

{% block "titulo" %} Cadastro {% endblock %}

{% block "corpo" %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p class="text-left" ><a style="text-decoration:none"  href="{% url "pagina_inicial" %}" > « Voltar </a></p> 
          
        <h1 class="display-3 text-center">Você realmente deseja excluir o seu cadastro ?</h1>
        <p class="text-center">Todos os seus dados serão excluídos .</p>
        <br><br>
        <div class="container botoes">
            <div class="row">
                <div class="col-md-3"></div>
              <div class="col-md-3">
                <form method="post" action="" data-troggle="validator">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary botao" style="padding-right:40px;padding-left:40px;">SIM</button>
                    <input type="hidden" name="resposta" value="sim">
                </form>
              </div>
            <div class="col-md-3">
                <a href="{% url "pagina_inicial" %}"> <button class="btn btn-primary botao" style="padding-right:40px;padding-left:40px;">NÃO</button></a>
            </div>
            <div class="col-md-3"></div>
        </div>
      </div>  
    </div>


        <br><br>
{% endblock %}
