{% extends "base.html" %}
{% load static from staticfiles %}

{% block "titulo" %} Pagina Inicial {% endblock %}

{% block "css" %}
    <link href="{% static "/css/dataTables.bootstrap4.min.css" %}" rel="stylesheet">
    
    <style>
        .table-responsive{
            width: 100% !important;
        }

        .table {
            border: 1px solid red;
            width: 50% !important; /*Importante manter o !important rs */
            margin: auto;
        }

        .table-status {
            margin-top: 20px;
            margin-bottom: 20px !important;
        }
    </style>
    
{% endblock %}

{% block "corpo" %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p class="text-left" ><a style="text-decoration:none"  href="{% url "pagina_inicial" %}" > « Voltar </a></p> 
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xsm-12">
                    <h1 class="display-3 text-center">Histórico</h1>
            </div>
            
            <div class="col-md-12">
                    <p class="text-center">Aqui você pode ver os dados de uso do VOIC pela criança.</p>
            </div>
        </div>  
       
        
        <br />
        <br />
        
        <div class="container">
                <table id="example" class="table-responsive table-striped table-hover">
                        <thead>
                                <tr>
                                    <th>Ação</th>
                                    <th>Data/Hora</th>
                                    <th>Gera Notificação</th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td>Banheiro</td>
                                    <td>27/22h</td>
                                    <td>Sim</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                   
                    <div class="d-flex justify-content-center">
        </div>
      
    </div>


{% endblock %}

{% block "js" %}

    <script src="{% static "/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "/js/dataTables.bootstrap4.min.js" %}"></script>  
      
{% endblock %}
