{% extends "base.html" %}
{% load static from staticfiles %}

{% block "titulo" %} Pagina Inicial {% endblock %}

{% block "css" %}
    <link href="{% static "/css/dataTables.bootstrap4.min.css" %}" rel="stylesheet">    
{% endblock %}

{% block "corpo" %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p class="text-left" ><a style="text-decoration:none"  href="{% url "pagina_inicial" %}" > « Voltar </a></p> 
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xsm-12">
                    <h1 class="display-3 text-center">Histórico</h1>
            </div>
            
            <div class="col-md-12">
                    <p class="text-center">Aqui você pode ver os dados de uso do VOIC pela criança.</p>
            </div>
        </div>  
       
        
        <br />
        <br />
        
        <div class="container bloco-tabela">
                <table id="tabela" align="center" width="100%">
                        <thead>
                                <tr>
                                    <th>Ação</th>
                                    <th>Data/Hora</th>
                                    <th>Gerou Notificação</th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for h in historicos %}
                                <tr>
                                    <td>{{ h.get_acao_display }}</td>
                                    <td>{{ h.data_hora }}h</td>
                                    <td>{% if h.gerou_notificacao %} Sim {% else %} Não {% endif %} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                   
              <div class="d-flex justify-content-center">
        </div>
      
    </div>


{% endblock %}

{% block "js" %}

    <script src="{% static "/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "/js/dataTables.bootstrap4.min.js" %}"></script>  
    <script>
        $(document).ready(function() {
            $('#tabela').DataTable( {
                "language": {
                    "lengthMenu": "Exibir  &nbsp; _MENU_ &nbsp; entradas por página",
                    "zeroRecords": "Nenhuma entrada encontrada",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrou do total de _MAX_ entradas)",
                    "search": "Pesquisar",
                     "paginate": {
                        "first":      "Primeira",
                        "last":       "Última",
                        "next":       "Próxima",
                        "previous":   "Anterior"
                     },
                    "loadingRecords": "Carregando...",
                    "processing":    "Processando...",
                    "aria": {
                        "sortAscending":  ": Ative para ordenar em forma ascendente",
                        "sortDescending": ": Ative para ordenar em forma descendente"
                    }
                }
            } );
        } );  
        
    </script>
      
{% endblock %}
